{{#each this}}
  <div class="movie">
   {{#if this.poster_path}}
     <a href="#">
       <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="{{this.title}}" class="movie_img" id="movie_img">
     </a>
   {{else}}
     <a href="#">
       <img src="https://storiavoce.com/wp-content/plugins/lightbox/images/No-image-found.jpg" class="movie_img" id="movie_img" alt="{{this.title}}">
     </a>
    {{/if}}
    <div class="description">
      <a href="#" class="title" id="title">{{this.title}}</a>
      <p class="release_date">{{this.release_date}}</p>
      <p class="overview">{{this.overview}}</p>
    </div>
  </div>
{{/each}}
